.filter {
  align-items: center;
  background-color: #1b56b2;
  background-image: linear-gradient(#267fcc, #1b56b2);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 5px;
  width: 100%;

  @media screen and (max-width: 767px) {
    align-items: flex-start;
    flex-direction: column;
  }

  &__container {
    background: #cbdcef;
    border-radius: 3px;
    color: #105192;
    margin-bottom: 8px;
    margin-top: 10px;
    padding: 7px 10px;

    .filter__type {
      font-weight: bold;
      margin-bottom: 0;
    }

    label {
      font-size: 12px;
    }
  }

  &__show-all {
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }

    @media screen and (max-width: 767px) {
      margin-top: 10px;
    }
  }

  &__select {
    margin: 0 0 0 10px;
  }

  &__group {
    display: flex;

    &.wrap {
      flex-wrap: wrap;
      margin-bottom: 8px;
    }

    .form__group {
      margin-bottom: 0;
      margin-right: 30px;
      width: max-content;
    }

    input[type='text'],
    select {
      height: 30px;
      margin-right: 5px;
    }

    input[type='text'] {
      padding: 0 5px;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(16, 19, 20, .5);
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgba(16, 19, 20, .5);
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba(16, 19, 20, .5);
      }
    }
  }
}