.personal {
  & > .col-12 {
    padding: 0 7.5px;

    @media screen and (max-width: 991px) {
      padding: 7.5px 0;
    }
  }

  &__container {
    border: 1px solid rgb(29, 97, 178);
    border-radius: 5px;
    height: 280px;
    position: relative;
    width: 100%;
  }

  &__header {
    align-items: center;
    background-color: rgb(29, 97, 178);
    color: #fff;
    display: flex;
    padding: 15px;

    span {
      font-size: 16px;
      margin-left: 10px;
    }
  }

  &__content {
    padding: 20px 15px;

    input {
      display: none;
    }

    &.edit {
      input {
        border-color: rgb(142, 186, 239);
        color: rgba(16, 18, 20, .8);
        display: initial;
        font-weight: bold;
        height: 22px;
        margin-bottom: 5px;
        padding-left: 5px;
      }

      p {
        display: none;
      }
    }

    p {
      color: #101314;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;

      span {
        font-weight: bold;

        &.status {
          color: #18941e;
        }

        &.sum {
          color: #1d61b2;
        }
      }
    }
  }

  &__manage {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;

    .btn {
      border-radius: 3px;
      box-shadow: none;
      display: block;
      font-weight: 600;
      margin: 6px auto 4px;
      padding: 0;
      width: 127px;

      &:focus {
        color: #fff;
      }

      @media screen and (max-width: 991px) {
        margin: 5px auto;
      }
    }
  }
}