ul.menu
    li.first
        a(href='#') Накладки
    li
        a(href='#') Основания
    li
        a(href='#') Ракетки готовые
    li
        a(href='#') Мячи
    li
        a(href='#') Клей
    li
        a(href='#') Принадлежности
    li
        a(href='#') Сумки, чехлы
    li
        a(href='#') Спортивная одежда
    li
        a(href='#') Спортивная обувь
    li
        a(href='#') Оборудование для залов
    li
        a(href='#') Всепогодные столы
    li
        a(href='#') Роботы
    li
        a(href='#') Спец. предложения
    li.last
        a(href='#') РАСПРОДАЖА!!!