.footer
    .container
        .footer-row
            .row
                .col-md-3
                    p.copy
                        | &copy; 2018 Tabletennis.ru
                        br.visible-lg
                        | Все права защищены
                    p.adds
                        | 107078, Москва,
                        br
                        | г. Москва, Красноворотский проезд,
                        br
                        | 3Б строение 3
                        br
                        | 8 495 772-21-18, 8 499 975-50-91
                        br
                        a(href='mailto:info@tabletennis.ru') info@tabletennis.ru
                    div.subscribe
                        p Подписаться на рассылку
                        input.textfield(type="text" placeholder="Ваш E-mail")
                        a.btn.btn-red Подписаться
                    a.dev(href='http://www.points.by/')
                        | Разработка сайта:
                        img(src='img/points.png' alt='')
                .col-md-7
                    .f-menu.f-menu_cols
                        h3 Каталог товаров
                        ul.col
                            li.first
                                a(href='#') Накладки
                            li
                                a(href='#') Ракетки готовые
                            li
                                a(href='#') Мячи
                            li
                                a(href='#') Клей
                            li
                                a(href='#') Принадлежности
                            li
                                a(href='#') Сумки, чехлы
                            li.last
                                a(href='#') Спортивная одежда
                        ul.col
                            li.first
                                a(href='#') Спортивная обувь
                            li
                                a(href='#') Оборудование для залов
                            li
                                a(href='#') Вcепогодные столы
                            li
                                a(href='#') Мини столы
                            li
                                a(href='#') Роботы
                            li
                                a(href='#') Цены пополам
                            li.last
                                a(href='#') Специальные предложения
                .col-md-2
                    .f-menu
                        h3 Магазин
                        ul
                            li.first.active
                                a(href='/') Главная
                            li
                                a(href='#') О компании
                            li
                                a(href='#') Бренды
                            li
                                a(href='#') Как сделать заказ
                            li
                                a(href='#') Прайс-лист
                            li
                                a(href='#') Скидки
                            li
                                a(href='#') Контакты
                        ul.pay
                            li
                                a(href='#')
                                    img(src='img/pay1.png')
                            li
                                a(href='#')
                                    img(src='img/pay2.png')
