extends root/layout

block container
    include include/header
    .content
        .container
            .row
                .sidebar.col-md-3
                    include include/categories-menu
                .main-content.col-md-9(style='padding: 0 30px;')
                    ul.breadcrumb
                        li
                            a(href='/') Главная
                        |  /
                        li.active Личный кабинет
                    h1 Личный кабинет
                    .row.personal
                        .col-12.col-md-4
                            .personal__container
                                .personal__header
                                    img(src="img/avatar.png" alt)
                                    span Персональные данные
                                .personal__content
                                    p Имя: #[span Андрей Иванов]
                                    input(type="text" value="Андрей Иванов")
                                    p Эл. почта: #[span ivanov@mail.ru]
                                    input(type="text" value="ivanov@mail.ru")
                                    p Телефон: #[span +375 29 4340598]
                                    input(type="text" value="+375 29 4340598")
                                    .personal__manage
                                        a#editPersonal.btn.btn-sm.btn-blue(href='#') Изменить данные
                                        a.btn.btn-sm.btn-red(href='#' data-toggle="modal" data-target="#changePassword") Изменить пароль

                        .col-12.col-md-4
                            .personal__container
                                .personal__header
                                    img(src="img/archive.png" alt)
                                    span История заказов
                                .personal__content
                                    p #[span Заказ №329] от 07.11.2018
                                    p 3 товара на сумму #[span.sum 46 500 Р]
                                    p Состояние: #[span.status оплачен]
                                    .personal__manage
                                        a.btn.btn-sm.btn-blue(href='history.html') Показать все
                        .col-12.col-md-4
                            .personal__container
                                .personal__header
                                    img(src="img/star-white.png" alt)
                                    span Избранное
                                .personal__content
                                    p У вас в избранном: #[br]
                                        span 10 товаров
                                    .personal__manage
                                        a.btn.btn-sm.btn-blue(href='favourites.html') В избранное



    include include/footer
    #changePassword.modal.fade(tabindex='-1' role='dialog' aria-labelledby='changePasswordLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23px' height='23px')
                            path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M23.001,21.563 L21.564,23.001 L11.500,12.937 L1.436,23.001 L-0.001,21.563 L10.062,11.500 L-0.001,1.436 L1.436,-0.002 L11.500,10.062 L21.564,-0.002 L23.001,1.436 L12.938,11.500 L23.001,21.563 Z')
                    h4.modal-title Изменить пароль
                .modal-body
                    input(type="password" placeholder="Старый пароль")
                    input(type="password" placeholder="Новый пароль")
                    input(type="password" placeholder="Подтвердить пароль")
                .modal-footer
                    a.btn.btn-lg.btn-blue(href='#') Изменить
